google-generativeai==0.3.2
google-cloud-aiplatform==1.42.1
langchain==0.0.354
chromadb==0.4.22
google-ai-generativelanguage==0.4.0
streamlit==1.29.0
unstructured[all-docs]==0.11.8
langchain-google-genai==0.0.5
geopandas==0.14.3
geopy==2.4.1
streamlit_geolocation==0.0.10
pandas==2.1.0
networkx==3.2.1
opencv-python-headless
pysqlite3-binary

